<html>
    <head>
        <title>SM Shubham Morankar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href= "{% static 'MyWebsite/style.css'%}" type="text/css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <img src="https://pbs.twimg.com/profile_images/832275520884715521/AzXSqCbB_400x400.jpg" width = 35% height = 35%>
                <h1>Shubham Morankar<br><small>Software Developer</small></h1>
                <p class="a">Welcome to my digital website. This is where I showcase all the cool stuff that I have enjoyed working on recently and I share a little bit about my personal life too.</p>
                <div class="btn-group btn-group-lg">
                    <center>
                    <large><a href="https://github.com/shubee17" class="btn btn-lg btn-success outline" id='github'>GITHUB</a></large>
                    <large><a href="https://www.linkedin.com/in/shubham-morankar-0257bb119/" class="btn btn-lg btn-info outline" id='linkedin'>LINKEDIN</a></large>
                    <large><a href="https://www.facebook.com/shubham.morankar.393" class="btn btn-lg btn-danger outline" id='facebook'>FACEBOOK</a></large>
                    <large><a href="https://www.instagram.com/shubham_morankar/?hl=en" class="btn btn-lg btn-warning outline" id='instagram'>INSTAGRAM</a></large>                
                </center>
                </div>    
            </div>    
        </div>  
    </body>
</html>